fastapi
uvicorn[standard]
websockets
python-dotenv
papermill
nbformat
jupyter
pm4py
lxml
pandas
numpy
matplotlib
seaborn
sentence-transformers
rapidfuzz
nltk
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
ipykernel
python-multipart
